@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Montserrat+Alternates:wght@300&display=swap');

:root {
    --moonstone: #5c9eadff;
    --white: #ffffffff;
    --polynesian-blue: #064789ff;
    --paynes-gray: #326273ff;
    --antiflash-white: #eeeeeeff;
    --atomic-tangerine: #e39774ff;
}

.section-text{
    font-size: 10pt;
    font-weight: 400;
}

.solution{
  background-image: url(../../assets/images/problem.png);
  background-size: cover;
}

.solution .sol{
  background: var(--white);
  border-radius: 10px;
  opacity: 0.8;
}

.fw-custom{
  font-weight: 500;
}
.carousel-item{
    font-family: 'Cormorant', sans-serif;
    font-size: 18pt;
    font-weight: 400;
}

#neubar {
    background: var(--moonstone);
  }
   
  #neubar .dropdown-menu a:hover {
    color: #454545;
  }
  #neubar .nav-item {
    margin : auto 4px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
  }
  #neubar .nav-item .active {
    color: var(--polynesian-blue);
  }
  #neubar a {
   
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : var(--moonstone);
  }
  a.navbar-brand {
    color: #454545
  }

  .footer{
    background: var(--moonstone);
    padding: 85px 0;

  }
  .single-content{
    padding: 115px 0;
    text-align: center;

  }
  .single-box p{
    color: white;
    line-height: 1.9;

  }
  .single-box h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
    
  }

.single-box ul{
  list-style: none;
  padding: 0;
}

.boxs h2{
  padding-top: 15px;
  color: white;
}

.input-group{
  margin-top: 10px;
  color: white;
}

.socials i{
  font-size: 40px;
  color: var(--polynesian-blue);
}

.single-box ul li a{
  text-decoration: none;
  color: white;
  line-height: 2.5;
  font-weight: 100;
}

.single-box h2, h5{
  color: white;
  font-size: 25px;
  font-weight: 700;

}
.main_pages li a h5{
  line-height: 3.0;
  color: white;
  font-weight: 700;
}

.custom-white{
  color: var(--white);
}
